<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.system.mapper.SysUserMapper">

	<resultMap type="SysUser" id="SysUserResult">
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="sex"          column="sex"          />
	</resultMap>
	<sql id="selectUserVo">
		select u.login_name, u.user_name, u.email, u.phonenumber,  u.sex from sys_user u
    </sql>

	<select id="selectUserList" parameterType="SysUser" resultMap="SysUserResult">
		select u.login_name, u.user_name, u.email, u.phonenumber,  u.sex from sys_user u
	</select>

	<select id="selectUserByLoginName" parameterType="String" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.login_name = #{userName}
	</select>
	
</mapper> 